langchain-core
langchain-openai
langchain-chroma
langchain-text-splitters
chromadb
openai
tiktoken
fastapi
uvicorn
openai
pydantic
langchain
langchain-openai
langchain-core
langchain_community
docx2txt
pypdf
langchain_chroma
sentence_transformers
hoffmanstmpy